{% extends "admin/index.html" %}
{% load i18n static %}

{% block extrastyle %}
{#    <link rel="stylesheet" href="{% static 'bootstrap-4.1.1-dist/css/bootstrap.css' %}">#}


        <link href="{% static 'assets/plugins/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'assets/plugins/bootstrap-responsive.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static 'assets/plugins/style-metro.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static  'assets/plugins/style.css' %}" rel="stylesheet" type="text/css"/>
{#    <link rel="stylesheet" href="/css/style.css">#}
    <link href="{% static 'layout/css/admin.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="page-container row-fluid" style="padding-top: 30px">

        <div class="container" style="width: auto !important;">

            <div class="span12">
                <div class="portlet box">
                    <div class="portlet-title" style="font-size: 25px; padding: 17px">
                        Edit Customer
                    </div>
                    <div class="portlet-body form" style="padding-top: 70px">
                        <!-- BEGIN FORM-->
                        <form action="{% url 'customerEdit' customer.id %}" class="form-horizontal" method="post">

                            {% csrf_token %}

                            <div class="form-group ">

                                <div class="control-group" style="padding-bottom: 20px">
                                    <label class="control-label">Username</label>
                                    <div class="controls">
                                        <input type="text" class="span10 m-wrap" name="username" style="padding-left: 7px" value="{{ customer.username }}" required>

                                    </div>
                                </div>

                                <div class="control-group" style="padding-bottom: 20px">
                                    <label class="control-label">First Name</label>
                                    <div class="controls">
                                        <input class="span10 m-wrap" name="firstName" style="padding-left: 7px" value="{{ customer.first_name }}" required ></input>
                                    </div>
                                </div>

                                <div class="control-group" style="padding-bottom: 20px">
                                    <label class="control-label">Last Name</label>
                                    <div class="controls">
                                        <input class="span10 m-wrap" name="lastName" style="padding-left: 7px" value="{{ customer.last_name }}" required></input>
                                    </div>
                                </div>
                                <div class="control-group" style="padding-bottom: 20px">
                                    <label class="control-label">Email</label>
                                    <div class="controls">
                                        <input class="span10 m-wrap" name="email" style="padding-left: 7px" value="{{ customer.email }}" required></input>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn abutton"style="width: 100px;">Save</button>
                                    <a type="button" href="{% url 'customer' %}" class="btn abutton" style="width: 100px;">Back</a>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>

        </div>

    </div>

{% endblock %}
